@import url('https://fonts.googleapis.com/css?family=Dosis:300,400, 500,700');

/* navbar */

.nav-color {
    background-color: #075022
}

/* background colors */

.bg-color {
    background-color: #F0EFF0;
    min-height: 100%;
}

/* fonts + text helpers */

.center-text {
    text-align: center;
}

.body-text {
    font-family: 'Dosis', sans-serif;
    color: #af9817
}

.input-text {
    font-family: 'Dosis', sans-serif;
    color: #730101
}

.bold-text {
    font-weight: 700
}

.no-margin {
    margin-bottom: 0;
}

.home-text {
    font-size: 24px
}


/* headers */

.page-header {
    padding: 1em 0;
    margin-top: 0;
}

/* breaks */

.spell-break {
    width: 40px;
    height: 3px;
    border: 0;
    border-radius: 1em;
    background-color: #075022;
}


/* index */

.landing-image {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
}

/* view spells */


.spell-box {
    width: 350px;
    min-height: 475px;
    max-width: 100%;
    margin-right: auto;
    background: url(../img/spellcard_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 25px;
    -webkit-box-shadow: 3px 6px 13px -12px rgba(115, 16, 16, 1);
    -moz-box-shadow: 3px 6px 13px -12px rgba(115, 16, 16, 1);
    box-shadow: 3px 6px 13px -12px rgba(115, 16, 16, 1);
    text-transform: capitalize;
}

.top-spell-box {
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.middle-spell-box {
}

.spell-name {
    font-size: 30px;
    font-weight: 400;
}

.button-helper {
    display: inline-block;
    margin: 1em;
}

/* media quiries */

@media (max-width: 996px) {

    .spell-box {
        min-width: 100%;
    }

}