@import url('https://fonts.googleapis.com/css?family=Dosis:300,500,700');

/* navbar */

.nav-color {
    background-color: #bf8787
}

/* background colors */

.bg-color {
    background-color: #F0EFF0;
    min-height: 100%;
    min-width: 1024px
}

/* fonts + text helpers */

.center-text {
    text-align: center;
}

.body-text{
    font-family: 'Dosis', sans-serif;
    color: #af9817
}

.input-text{
    font-family: 'Dosis', sans-serif;
    color: #730101
}

.bold-text {
    font-weight: 700
}


/* headers */

.page-header{
    margin-top: 0;
}

/* index */

.landing-image {
  width: 100%;
  max-width: 700px;
  height: auto;
}

/* view spells */

.spell-box {
    width: 350px;
    min-height: 475px;
    background: url(../img/spellcard_bg.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 10px 25px;
    -webkit-box-shadow: 3px 6px 13px -12px rgba(115,16,16,1);
    -moz-box-shadow: 3px 6px 13px -12px rgba(115,16,16,1);
    box-shadow: 3px 6px 13px -12px rgba(115,16,16,1);
}

.top-spell-box {
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.middle-spell-box {
    
}

.spell-name {
    font-size: 30px;
    font-weight: 300;
}