@import url('https://fonts.googleapis.com/css?family=Dosis:300,500,700');

/* navbar */

.nav-color {
    background-color: #bf8787
}


/* background colors */

.bg-color {
    background-color: #f9f4f7;
    min-height: 100%;
    min-width: 1024px
}

/* fonts */

.body-text{
    font-family: 'Dosis', sans-serif;
    color: #af9817
}

.input-text{
    font-family: 'Dosis', sans-serif;
    color: #730101
}

.bold-text {
    font-weight: 700
}

/* view spells */

.spell-box {
    width: 350px;
    min-height: 475px;
    background: url(../img/spellcard_bg.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 10px 25px;
    -webkit-box-shadow: 3px 6px 13px -12px rgba(115,16,16,1);
    -moz-box-shadow: 3px 6px 13px -12px rgba(115,16,16,1);
    box-shadow: 3px 6px 13px -12px rgba(115,16,16,1);
}

.top-spell-box {
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.middle-spell-box {
    
}

.spell-name {
    font-size: 30px;
    font-weight: 300;
}