<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Spellfinder General</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper body-text nav-color">
                <a href="{{url_for('index')}}" class="brand-logo center">Spellfinder</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="{{url_for('add_spell')}}">Add Spell</a></li>
                    <li><a href="{{url_for('browse_spells')}}">View All Spells</a></li>
                    <li><a href="{{url_for('search_spells')}}">Search Spells</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a class="subheader">Spellfinder</a></li>
            <li><div class="divider"></div></li>
            <li><a href="{{url_for('add_spell')}}">Add Spell</a></li>
            <li><a href="{{url_for('browse_spells')}}">View All Spells</a></li>
            <li><a href="{{url_for('search_spells')}}">Search Spells</a></li>
        </ul>
    </header>
    <div class="bg-color body-text">
        <div class="container col s12">
            {% block content %} {% endblock %}
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').formSelect();
            $('.sidenav').sidenav();
            $('.modal').modal();
        });
    </script>
</body>

</html>
