{% extends 'base.html'%} {% block content %}

<!--- 10/05/19
edit spell will retrive the object from mongoDB, next step is to wire it upto display correct infomation to edit and inserting that back into mongodb---> 



<h2 class="input-text">Edit spell</h2>
<div class="row">
    <form action="" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Spell Name" name="spell_name" id="spell_name" type="text" class="validate input-text">
                <label for="spell_name">Spell Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <select class="input-text" id="spell_level" name="spell_level">
                {% for l in level %} 
                  <option value="{{l.spell_level}}">{{l.spell_level}}</option>
                {% endfor %}
            </select>
                <label>Spell Level - Choose your spell level</label>
            </div>
            <div class="input-field col s12 m6">
                <select class="input-text" id="school" name="school">
                {% for s in school %} 
                  <option  value="{{s.school_name}}">{{s.school_name}}</option>
                {% endfor %}
            </select>
                <label>Spell School - Choose your spell school</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input placeholder="Enter n/a if required" name="casting_time" id="casting_time" type="text" class="validate input-text">
                <label for="casting_time">Casting time</label>
            </div>
            <div class="input-field col s12 m6">
                <input placeholder="Enter n/a if required" name="range" id="range" type="text" class="validate input-text">
                <label for="range">Range</label>
            </div>
        </div>
      <div class="row">
            <div class="input-field col s12 m6">
                <select multiple id="components" name="components" class="input-text">
                {% for c in components %} 
                  <option value="{{c.component}}">{{c.component}}</option>
                {% endfor %}
            </select>
                <label>Component - Choose your Components</label>
            </div>
            <div class="input-field col s12 m6">
                <input placeholder="Enter n/a if required" name="duration" id="duration" type="text" class="validate input-text">
                <label for="duration">Duration</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <select id="die" name="die" class="input-text">
                {% for d in die %} 
                  <option value="{{d.die_value}}">{{d.die_value}}</option>
                {% endfor %}
            </select>
                <label>Die - Die Value </label>
            </div>
            <div class="input-field col s12 m6">
                <input placeholder="Enter n/a if required" name="die_amount" id="die_amount" type="text" class="validate input-text">
                <label for="die_amount">Die amount</label>
            </div>
        </div>
        <div class="row">
             <button class="btn waves-effect waves-light" type="submit" >Add
                <i class="material-icons right"></i>
              </button>
        </div>
    </form>
</div>

{% endblock %}

<!--- "{{ url_for('insert_spell') }}" --->
