{% extends 'base.html'%} {% block content %}

<!--- 13/05/19 edit task all wired up, removed components from all forms while finding a way to make them work --->



<h2 class="input-text page-header">Edit spell</h2>
<div class="row">
    <form action="{{url_for('update_spell', spell_id=spell._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input name="spell_name" id="spell_name" type="text" class="validate input-text" value="{{spell.spell_name}}" required>
                <label for="spell_name"><span class="label-helper">Spell Name - Required</span></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <select class="input-text" id="spell_level" name="spell_level" required>
                {% for l in level %}
                    {% if l.spell_level == spell.spell_level %}
                  <option value="{{l.spell_level}}" selected>{{l.spell_level}}</option>
                    {% else %}
                  <option value="{{l.spell_level}}">{{l.spell_level}}</option>  
                    {% endif %}  
                {% endfor %}
            </select>
                <label><span class="label-helper">Spell Level - Choose your spell level - Required</span></label>
            </div>
            <div class="input-field col s12 m6">
                <select class="input-text" id="school" name="school" required>
                {% for s in school %} 
                    {% if s.school_name == spell.school %}
                  <option  value="{{s.school_name}}" selected>{{s.school_name}}</option>
                    {% else %}
                  <option  value="{{s.school_name}}">{{s.school_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
                <label><span class="label-helper">Spell School - Choose your spell school - Required</span></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input placeholder="Leave blank if no value" name="casting_time" id="casting_time" type="text" class="validate input-text" value="{{spell.casting_time}}">
                <label for="casting_time"><span class="label-helper">Casting time</span></label>
            </div>
            <div class="input-field col s12 m6">
                <input placeholder="Leave blank if no value" name="range" id="range" type="text" class="validate input-text" value="{{spell.range}}">
                <label for="range"><span class="label-helper">Range</span></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <select multiple id="components" name="components" class="input-text">
                {% for c in components %}
                    {% if c.component in component %}
                        <option value="{{c.component}}" selected>{{c.component}}</option>
                    {% else %}
                        <option value="{{c.component}}">{{c.component}}</option>
                    {% endif %}
                {% endfor %}
            </select>
                <label><span class="label-helper">Component - Choose your Components</span></label>
            </div>
            <div class="input-field col s12 m6">
                <input placeholder="Leave blank if no value" name="duration" id="duration" type="text" class="validate input-text" value="{{spell.duration}}">
                <label for="duration"><span class="label-helper">Duration</span></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input placeholder="Leave blank if no value" name="die_amount" id="die_amount" type="text" class="validate input-text" value="{{spell.die_amount}}">
                <label for="die_amount"><span class="label-helper"> Die amount - Leave blank if no die roll needed</span></label>
            </div>
            <div class="input-field col s12 m6">
                <select id="die_value" name="die_value" class="input-text">
                {% for d in die %} 
                    {% if d.die_value == spell.die_value %}
                    <option value="{{d.die_value}}" selected>{{d.die_value}}</option>
                    {% else %}
                  <option value="{{d.die_value}}">{{d.die_value}}</option>
                    {% endif %}
                {% endfor %}
            </select>
                <label><span class="label-helper">Die - Leave as "0" if no die roll needed</span></label>
            </div>
        </div>
        <div class="row">
            <a href="{{url_for('browse_spells')}}" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">arrow_back</i></a>
            <button class="btn-floating btn-large waves-effect waves-light blue" type="submit">
                <i class="material-icons right">edit</i>
              </button>

        </div>
    </form>
</div>

{% endblock %}
