{% extends 'base.html'%} {% block content %}

<div class="container center-text">
    <div class="row">
        <div class="col s12">
            <h1 class="no-margin">Spellfinder General</h1>
            {% if success %}
            <div>
                <p class="alert-message underline">{{ success }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <a href="{{url_for('browse_spells')}}">
        <img src="/static/img/spellbook.png" class="landing-image responsive-img"></a>
    </div>
    <div class="col s12 m8">
        <p class="spell-name center-text">Welcome to the Spellfinder General, your new trusted ally on your next Dungeons and Dragons adventure!
        <br> 
        <br>To get started, try click on the spellbook to view all spells! Spellfinder is here to help you log your spellsheets, but also give you the freedom to homebrew anything you please!</p>
    </div>
</div>
<br>
<hr class="spell-break">
<br>
<div class="row">
    <div class="col s12 m8">
        <p class="spell-name center-text">Anyone can add a spell! To register, click on the angel. Once logged in you earn the right to delete spells, how exciting! 
        <br>
        <br>
        More features coming soon!</p>
    </div>
    <div class="col m4">
        <a href="{{url_for('register')}}">
        <img src="/static/img/angel.png" class="landing-image responsive-img"> </a>
    </div>
</div>



<br>{% endblock %}
