{% extends 'base.html'%} {% block content %}
    {% for spell in spells %}
    <div class="col s12">
        {{spell.spell_name}}
    </div>
    <div class="col s12">
        {{spell.school}}
    </div>
    <div class="col s12">    
        {{spell.spell_level}}
    </div>    
    <div class="col s12">    
        {{spell.range}}
    </div>    
    <div class="col s12">    
        {{spell.casting_time}}
    </div>    
    <div class="col s12"> 
        {% for component in spell.components %}
        {{component}}
        {% endfor %}
    </div>    
    <div class="col s12">    
        {{spell.duration}}
    </div>    
    <div class="col s12">    
        {{spell.description}}
    </div>    
    <div class="col s12">        
        d{{spell.die_value}}
    </div>    
    <div class="col s12">    
        {{spell.die_amount}}
    </div>
    <br>
    {% endfor %}
    
{% endblock %}