{% extends 'base.html'%} {% block content %}

<div class="row">
    {% for spell in spells %}
    <div class="col s4">
        <div class="card-panel spell-box teal hoverable">

            <div class="">
                Name: {{spell.spell_name}}
            </div>
            <div class="">
                School: {{spell.school}}
            </div>
            <div class="">
                Level: {{spell.spell_level}}
            </div>
            <div class="">
                Range: {{spell.range}}
            </div>
            <div class="">
                Casting Time: {{spell.casting_time}}
            </div>
            <div class="">
                Components: {% for component in spell.components %} {{component}} {% endfor %}
            </div>
            <div class="">
                Duration: {{spell.duration}}
            </div>
            
            <div class="">
                Die Value: d{{spell.die_value}}
            </div>
            <div class="">
                Die Amount: {{spell.die_amount}}
            </div>
            <div class="">
                Description: {{spell.description}}
            </div>
            <div class=""> 
                <a href="{{url_for('edit_spell', spell_id=spell._id)}}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<br>{% endblock %}
